* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 20% 20% 0 20%;
    text-align: center;
}

.icon {

}

.container {
    width: 15vw;
    display: inline-grid;
    grid-template-areas: "a b" "c c";
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2px;
}

.container * {
    transition: background-color 0.2s linear;
}

.container *:hover {
    background-color: #f5f5f5;
}

#inputDay {
    padding: 0;
    text-align: center;
    aspect-ratio: 1;
}

#inputDay::-webkit-inner-spin-button {
    display: none;
}

#inputMonth {
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

#button {
    grid-area: c;
}

#button:hover, #inputMonth:hover {
    cursor: pointer;
}

input, select {
    border: none;
    background-color:#eee;
    padding: 5px 10px;
    /* outline: none; */
}